<div class="container mt-3 mb-3">
  <p id="notice" class="text-success">
    <%= notice %>
  </p>
  <div class="row">
    <h3>Books</h3>
  </div>
  <div class="row">
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-3 m-1">Title</th>
      <th class="col-xs-6 text-truncate m-1">Body</th>
      <th colspan="3" class="col-xs-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= book.title %>
      </td>
      <td>
        <%= book.body %>
      </td>
      <td>
        <%= link_to "Show", book_path(book), class: "btn btn-outline-primary" %>
      </td>
      <td>
        <%= link_to "Edit", edit_book_path(book), class: "btn btn-outline-success" %>
      </td>
      <td>
        <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-outline-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @books %>
  </div>

<div class="row">
  <h4>New book</h4>
</div>
<div class="row">
  <div class="col-xs-5">
    <%= render 'books/error', book:@book %>
  </div>
</div>
  <div class="row">
    <%= form_with model:@book, local:true do |f| %>
    <div class="form-group">
      <p class="mb-0">Title</p>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <p class="mb-0">Body</p>
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.submit 'Create Book', class: "btn btn-success" %>
    <% end %>
  </div>
</div>